################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/oled/v15
/oled/bin/Debug
/oled/obj/Debug
/packages/Mono.Posix-4.5.4.5.0/lib/net45
